@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.form{
    display:flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    text-align: left;
    padding-top: 7%;
}

h3 {
    font-size: 45px;
    padding-top: 10%;
}

label{
    padding:auto;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:5%;
    font-size: 20px;
    display: block;
    width:100%;
}

input{
    border: none;
    border-bottom: 2px solid #7f001c;
    margin-top:1%;
    display: inline-block;
    height:30px;
    width:100%;
}

textarea {
    border: 2px solid #7f001c;
    margin-top:1%;
    display: inline-block;
    height:100px;
    width:100%;
}

::placeholder { 
    color: grey;
    opacity: 0.75;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
  }

  input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
    border:white;
  }

  input:focus, textarea:focus{
    outline:none;
  }

  input[type=text]{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
  }

.submit{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    background-color: transparent;
    border:2px solid #7f001c;
    color:#7f001c;
    height: 50px;
    margin-bottom: 5%;
}

.submit:hover{
    border:2px solid #ff7f9c;
    color:#ff7f9c;
}